<launch>

    <arg name="real_arm" default="false" />

    <include file="$(find frost_robot_arm)/launch/frost_robot_central_communication.launch">
        <arg name="real_arm" value="$(arg real_arm)"/>
    </include>

    <include file="$(find frost_robot_arm)/launch/frost_robot_visualization.launch">
        <arg name="real_arm" value="$(arg real_arm)"/>
    </include>

    <node name="frost_robot_arm" pkg="frost_robot_arm" type="frost_robot_arm">
    </node>

</launch>
