<launch>

  <arg name="real_arm" default="false" />

  <node name="central_communication_node" pkg="horizon_ethernet_interface" type="ethernet_Robotarm.py">
  </node>

<!-- if the real arm is not connected dont publish encoder values-->
  <node name="encoder_state_publisher" pkg="frost_robot_arm" type="encoder_state_publisher"  if="$(eval real_arm == true)">
  </node>

</launch>
